@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* ---------- TEMPLATE ---------- */
*{
	margin: 0;
	padding: 0;
}

*:focus{
	outline: none;
}

body{
	font-family: 'Comfortaa', cursive;
	overflow: hidden;
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

a.high,
a.down{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.down span.b,
a.down span.c,
a.high span.c,
a.high span.b{
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

a.high:hover span.b,
a.down:hover span.b,
a.high:focus span.b,
a.down:focus span.b{
	animation: expandB 1.5s infinite;
}

a.high:hover span.c,
a.down:hover span.c,
a.high:focus span.c,
a.down:focus span.c{
	animation: expandC 1.5s infinite;
}

a.high svg,
a.down svg{
	width: 30px;
	height: 30px;
}

a.high{
	top: 40px;
}
a.down{
	bottom: 40px;
}

div.sec{
	width: 100%;
	height: 100vh;
	position: relative;
}







/* ---------- SECTION ---------- */
/* --- WELCOME --- */
	#welcome{
		background-color: #EFFBFF;
		color: #005792;
	}

	#welcome a{
		background-color: #00BBF0;
	}

	#welcome a svg{
		stroke: #EFFBFF;
	}

	#welcome a span.b{
		border-width: 2px;
		background-color: #00BBF075;
	}

	#welcome a span.c{
		border-width: 1px;
		background-color: #00BBF050;
	}

	#welcome .getstarted{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -75%);
		width: 580px;
	}

	#welcome .getstarted h1{
		font-size: 70px;
		margin-bottom: 40px;
	}

	#welcome .getstarted p{
		font-size: 28px;
	}

	#welcome .next-link{
		position: absolute;
		bottom: 130px;
		font-size: 30px;
		left: 50%;
		transform: translateX(-50%);
	}

/* --- DOWNLOAD --- */
	#download{
		background-color: #00BBF0;
		color: #EFFBFF;
	}

	#download a.high,
	#download a.down{
		background-color: #EFFBFF;
	}

	#download a svg{
		stroke: #00BBF0;
	}

	#download a span.b{
		border-width: 2px;
		background-color: #EFFBFF50;
	}

	#download a span.c{
		border-width: 1px;
		background-color: #EFFBFF75;
	}

	#download .download-link{
		height: 320px;
		width: 680px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-80%, -50%);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	#download .download-link h1{
		font-size: 40px;
	}

	#download .download-link .link-btn .download-btn{
		width: 550px;
		height: 80px;
		border-radius: 5px;
		font-size: 25px;
		background-color: #005792;
		color: #EFFBFF;
		position: relative;
		transition: all 0.5s;
	}

	#download .download-link .link-btn .download-btn svg{
		position: absolute;
		left: 25px;
		top: 50%;
		transform: translateY(-50%);
		height: 50px;
		width: 50px;
		stroke: none;
		fill: #EFFBFF;
	}

	#download .download-link .link-btn .download-btn p{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	#download .download-link .link-btn .download-btn p.version{
		right: 40px;
	}

	#download .download-link .link-btn .download-btn p:not(.version){
		left: 100px;
	}

	#download .download-link .link-btn:hover .download-btn{
		background-color: #00204A;
	}




/* --- ABOUT --- */
	#about{
		background-color: #005792;
		color: #EFFBFF;
	}

	#about a.high,
	#about a.down{
		background-color: #EFFBFF;
	}

	#about a svg{
		stroke: #005792;
	}

	#about a span.b{
		border-width: 2px;
		background-color: #EFFBFF50;
	}

	#about a span.c{
		border-width: 1px;
		background-color: #EFFBFF75;
	}

	/* .parallax{
		height: 100vh;
		background-image: url('media/image/modernismo_peruibe.png');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	} */

/* --- GROUP --- */
	#group{
		background-color: #005792;
		color: #EFFBFF;
	}

	#group a.high,
	#group a.down{
		background-color: #EFFBFF;
	}

	#group a svg{
		stroke: #005792;
	}

	#group a span.b{
		border-width: 2px;
		background-color: #EFFBFF50;
	}

	#group a span.c{
		border-width: 1px;
		background-color: #EFFBFF75;
	}



/* --- CONTACT --- */
	#contact{
		background-color: #00204A;
		color: #EFFBFF;
	}

	#contact a.high{
		background-color: #EFFBFF;
	}

	#contact a svg{
		stroke: #00204A;
	}

	#contact a span.b{
		border-width: 2px;
		background-color: #EFFBFF50;
	}

	#contact a span.c{
		border-width: 1px;
		background-color: #EFFBFF75;
	}



/* ---------- ANIMATIONS ---------- */
/* --- NAV-LINK HOVER --- */
	@keyframes expandB{
		0%{
			width: 100%;
			height: 100%;
			opacity: 1;
		}
		100%{
			width: 150%;
			height: 150%;
			opacity: 0;
		}
	}
	@keyframes expandC{
		0%{
			width: 100%;
			height: 100%;
			opacity: 1;
		}
		100%{
			width: 200%;
			height: 200%;
			opacity: 0;
		}
	}

/* ---  --- */